@use '../' as *;
@use '../../layouts.scss' as *;

@mixin tiles(
        $tile-color: map-get($base-palette, 'light-gray'),
        $tile-radius: 4px,
        $tile-padding: 2px 2px 2px 4px,
        $palette: $preset-pallete
    ) {
    @include align-center;
    background-color: $tile-color;
    border-radius: $tile-radius;
    border: 1px solid shade($tile-color, 5%);
    margin-bottom: 1px;
    padding: $tile-padding;
    transition: background-color 1s, border-color 1s, color 1s;
    .badge {
        + small,
        + p {
            margin-left: 5px;
        }
    }
    small,
    p {
        font-size: 14px;
        line-height: 1;
        margin: 0;
    }
    @each $color, $val in $palette {
        &.bg-#{$color} {
            border-color: $val;
            background-color: $val;
        }
        &.text-#{$color} {
           color: $val;
           * {
             color: $val;
           }
        }
    }
}