$palette: (
	whitest: #ffffff,
	blackest: #1E232B,

	cta: #0057AC,

	l-gray: #ADAFB1,
	d-gray: #5C5C5C,
	d-blue: #192B4B,
	dk-blue: #024089,
	l-blue: #7BA0E3,
	lightest-blue: #E5ECF9,
	l-red: #fb2929,

	primary: #1779ba,
	secondary: #D81421,

	success: #128912,
	warning: #ff8127,
	danger: #D81421,

  disabled: #D9D9D9,
);